{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "login" %}{% endblock %}

{% block content %}

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-2 p-sm-4">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Login to Tantorial</h5>
            <form class="needs-validation p-1" method="post" action="{% url 'account_login' %}" novalidate>
              <div class='mb-3'>
                {% csrf_token %}
                <!-- <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"> -->
                {{form|crispy}}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
              </div>

              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
                  in</button>
              </div>
              <div>
                <a href="{{ signup_url }}">Don't Have an Account?</a>
              </div>
              <div>
                <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
              </div>
              <hr class="my-4">

            </form>
            <p class='text-center display-6'>OR</p>
                          <form action="{% provider_login_url 'google' %}" method="post">
  {% csrf_token %}
  <div class="d-grid mb-2">
  <button type="submit" class="btn-google btn-login text-uppercase fw-bold text-center card-link" >
    <i class="fab fa-google me-2"></i> Sign in with Google
  </button>
  </div>

</form>

  
              <!-- <a href="{% provider_login_url 'facebook' method='oauth2' %}"
                class="btn-facebook btn-login text-uppercase text-center fw-bold card-link">
                <i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
              </a> -->
              <form action="{% provider_login_url 'facebook' method='oauth2' %}" method="post">
  {% csrf_token %}
            <div class="d-grid">
  <button type="submit" class="btn-facebook btn-login text-uppercase fw-bold text-center card-link" >
    <i class="fab fa-facebook-f e-2"></i> Sign in with Facebook
  </button>
            </div>

</form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}
