{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-2 p-sm-4">
            <h5 class="card-title text-center mb-5 fw-light fs-5">{% trans "Change Password" %}</h5>
            <form class="needs-validation p-1" method="post" action="{% url 'account_change_password' %}" novalidate>
                <div class='mb-4'>
                  {% csrf_token %}
        {{ form|crispy }}  
                </div>
                <div class = 'd-grid'>
                         <button type="submit" class='btn btn-primary' name="action">{% trans "Change Password" %}</button>   
                </div>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
