{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-xs-12 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-lg-5 p-sm-4 p-md-5 p-0">
                        <h5 class="card-title text-center mb-3 fw-dark fs-1">{% trans "Set Password" %}</h5>

                        <form method="POST" action="{% url 'account_set_password' %}"
                            class="password_set needs-validation p-1" novalidate>
                            <div class='mb-3'>
                                {% csrf_token %}
                                {{ form|crispy }}
                            </div>
                            <div class='d-grid'>
                                <input class='btn btn-primary' type="submit" name="action"
                                    value="{% trans 'Set Password' %}" />
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}