{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}
login
{% endblock title %}
{% block content %}

<div class="bg-light mt-5">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4 text-center">About us page</h1>
        <p class="lead text-center mb-0">
          Tantorial
        </p>
      </div>
      <div class="col-lg-6"><img src="https://scontent.fnsi1-1.fna.fbcdn.net/v/t1.6435-9/157852690_1761690954013049_1553247850242549328_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeHpXZxC3J2DTErqKcxiHfO8G4O27g_LPl8bg7buD8s-X6yy89dBFwdiykR9HWadRLGK5-6J5ErpfLXJG1oEW6e7&_nc_ohc=nIHL4btXqE8AX_BMnIH&_nc_ht=scontent.fnsi1-1.fna&oh=55e8ad92dc90b39e796de1c325ef1607&oe=61783BCD" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">About Tantorial</h2>
        <p class="font-italic text-muted mb-4">
          {{about.about|safe}}
        </p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Our Mission</h2>
        <p class="font-italic text-muted mb-4">
          {{about.mission|safe}}
        </p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Our Goal</h2>
        <p class="font-italic text-muted mb-4">
          {{about.goal|safe}}
        </p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
        <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Our Vision</h2>
        <p class="font-italic text-muted mb-4">
          {{about.vision|safe}}
        </p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
  </div>
</div>

<div class="bg-light py-5 mb-1">
  <div class="container py-5">
    <div class="row mb-2">
      <div class="col-lg-5">
        <h2 class="display-5 font-weight-light">Our Management team</h2>
        <p class="font-italic text-muted">
          Jobberman Nigeria is led by a multidisciplinary management team with extensive experience leading digital transformation in Cameroon.
        </p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      {% for t in team %}
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{{t.pic.url}}" alt="" width="100%" class="img-fluid rounded mb-3 shadow-sm">
          <h5 class="mb-0">{{t.name}}</h5><span class="small text-uppercase text-muted">{{t.title}}</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      {% endfor %}
      <!-- End-->
      </div>
      <!-- End-->

    </div>
  </div>
</div>


{% endblock %}