{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
login
{% endblock title %}
{% block content %}
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
    <div class="offcanvas-header">
        <h6 class="offcanvas-title d-sm-block text-center" id="offcanvas">Subjects</h6>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body px-3">
        <ul class="list-group list-group-flush flex-column align-items-start" id="menu">
            {% for sub in all_sub %}
                                <div class="col-12 col-sm-12 col-4">
                                    <li class="list-group-item">
                                        <a href="{% url 'dantorial:subject' sub.subcategory.category.slug sub.subcategory.id sub.slug %}" class='btn btn-default'>
                                            {{ sub|capfirst}}
                                        </a>
 

                                    </li>
                                </div>


                                {% endfor %}
                            </div>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col py-0">
            <!-- toggler -->
            <button class="btn float-start" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                <i class="fa fa-bars bi-arrow-right-square-fill fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
            </button>
        </div>
    </div>
</div>
<div class="row justify-content p-2">
    <div class='col-sm-12 col-md-9'>
        <div class='row'>
            {% for p in pro %}

            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="card">
                    <div class="card-header">
                        <a href="{{p.profile_pic.url}}"><img class="card-img" src="{{p.profile_pic.url}}" alt="..."
                                style='height:15rem; width:100%' /></a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ p.first_name|default:'' }} {{ p.last_name|default:'' }} </h5>
                        <p class="card-text">
                            {{p.user.profileinfo.bio|default:''}}
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> {{p.level_of_education|default:''}} </li>
                        <li class="list-group-item">{{p.gender|default:''}}</li>
                        <li class="list-group-item">{{p.city|default:''}}</li>
                        <li class="list-group-item">{{p.address_1|default:''}}</li>
                    </ul>
                    <div class="card-body">
                        <a class="btn btn-danger card-link d-grid" href="{% url 'dantorial:userprofile' p.id %}">Read
                            more →</a><br>
                        <a href="tel:{{p.country.phone}}{{p.phone_number}}" class="btn btn-success card-link d-grid ">
                            Get Contact
                            <i class="fa fa-phone"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <!-- Search widget-->
<!--         <div class="card mb-4">
            <div class="card-header">Search</div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Enter search term..."
                        aria-label="Enter search term..." aria-describedby="button-search" />
                    <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                </div>
            </div>
        </div> -->
        <!-- Categories widget-->
        <!-- <div class="card mb-4">
            <div class="card-header">Subject</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-12">
                        <ul class="list-unstyled mb-0">
                            <div class='row'>
                                {% for sub in all_sub %}
                                <div class="col-6 col-sm-4 col-md-6 my-2">
                                    <li>
                                        <a href="{% url 'dantorial:subject' sub.subcategory.category.slug sub.subcategory.id sub.slug %}" class='btn btn-info'>
                                            {{ sub|capfirst}}
                                        </a>

                                    </li>
                                </div>


                                {% endfor %}
                            </div>


                        </ul>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- Side widget-->
        <div class="card mb-4">
            <div class="card-header">
                {% if user.profilepersonal == 'tutor' %}
                Suggested Students
                {% else %}
                Suggested Tutors
                {% endif %}
            </div>
            <div class="card-body">
                Sugestions will appear here
            </div>
        </div>
    </div>
    {% endblock content %}