{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
login
{% endblock title %}
{% block content %}
<div class="row gx-4 gx-lg-5 justify-content-center">
    
    <div class="col-md-10 col-lg-8 col-xl-7">
       {% for p in post %}
        <div class="post-preview">
            <a href="{% url 'review:postdetail' p.slug %}">
                <h2 class="post-title">{{p.title}}</h2>
                <h3 class="post-subtitle">{{p.excerpt}}</h3>
            </a>
            <p class="post-meta">
                Posted by
                <a href="#!">{{p.author}}</a>
                on {{p.date_created}}
                {{ p.comment_set.all.count }} comment
                {{p.view_count}} seen
            </p>

        </div>
        <!-- Divider-->
        <hr class="my-4" />
        {% endfor %}  
        
          
    </div>

<div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..."
                            aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">SubCategories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-lg-12">
                            <ul class="list-unstyled mb-0">
                                    <ul>
                                        {% for sub in subcategory %}
                                        <li>
                                            <a href="{% url 'review:filter_subcategory' sub.slug %}">
                                                {{sub.name}}
                                            </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Recommended</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use,
                    and feature the Bootstrap 5 card component!</div>
            </div>

</div>
{% endblock content %}