{% extends "base.html" %}
{% load static %}
{% block title %} chat {%endblock title %}
	{% block content %}
		<div class="col-md-6 col-sm-10 ml-auto mr-auto mt-5">
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title text-center mb-3 fw-bold fs-5">
					chats
					</h5>
					{% for chat in chats %}
					<div class="row">
                        	<div class="col-sm-8">
                        		{% if chat.user == request.user %}
                        		<img src="{{chat.receiver.profilepersonal.profile_pic.url}}" class="rounded-circle" alt="..." style="width:50px"/>
                        	
                        		<a  href="{% url 'dantorial_message:message' chat.id %}" style="text-decoration:none">
									{{ chat.receiver.profilepersonal.first_name }} {{ chat.receiver.profilepersonal.last_name }}			
                        		
								</a>
								{% else %}
								<img src="{{chat.user.profilepersonal.profile_pic.url}}" class="rounded-circle" alt="..." style="width:50px"/>
                        	
                        		<a  href="{% url 'dantorial_message:message' chat.id %}" style="text-decoration:none">
									{{ chat.user.profilepersonal.first_name }} {{ chat.user.profilepersonal.last_name }}			
                        		
								</a>
								{% endif %}
								
							</div>

							

						</div>
						<hr>
                        
						
					{% endfor %}
					
					
					
				</div>
			</div>
		</div>
	{% endblock %}