{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
	contact us
{% endblock title %}
{% block content %}
	<div class="col col-md-8 p-5 mr-auto ml-auto
                            text-center">
		<h5 class="card-title text-center mb-3 fw-dark fs-5">
		Leave Us a Message
		</h5>
		<form class="needs-validation" method="post" action="" novalidate>
			{% csrf_token %}
			<div class="row align-items-center">
				<div class='col-6'>
					{{form.first_name|as_crispy_field}}
				</div>
				<div class='col-6'>
					{{form.last_name|as_crispy_field}}
				</div>
				<div class='col-6'>
					{{form.phone_number|as_crispy_field}}
				</div>
				<div class='col-6'>
					{{form.email|as_crispy_field}}
				</div>
				<div class='col-12'>
					{{form.message|as_crispy_field}}
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
{% endblock	%}