{% extends "base.html" %}
{% load static %}
{% block title %} message {%endblock title %}
	{% block content %}
		<div class="container-fluid p-0">
			<div class="row mt-5">
				<div class="col-sm-4 col-md-4 col-lg-3 mx-auto">
					<div class="card border-0 shadow rounded-3 my-5">
						<div class="card-body p-0 p-sm-0">
							<div class="list-group mx-auto">
								<a href="#"
								class="list-group-item list-group-item-action active">Star</a>
								
							
						</div>
						<ul>
							{% for fav in favourite.favourite.all %}
						<li>
						{{fav}}
						
						</li>
						{% endfor %}
						</ul>
						
					</div>
	
				</div>
			</div>
		</div>
	</div>
{% endblock %}