{% extends "base.html" %}
{% load i18n %}
{% load static %} {% block title %} dantorial {%endblock title %} {% block carousel %}

<!-- <style>
.select2-container--default .select2-selection--single {
    height: 37px !important;
    padding-top: 5px;
    font-size: 1rem;
    line-height: 1.33;
    border-radius: 6px;
    margin-bottom: 1rem;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 85% !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 26px !important;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #CCC !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}</style> -->

<div id="myCarousel" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        {% for caro in carousel|slice:":3" %} {% if forloop.first %}
        <div class="carousel-item active" data-bs-interval="30000">
            {% else %}
            <div class="carousel-item" data-bs-interval="30000">
                {% endif %}
                <img class="bd-placeholder-img" src="{{ caro.image.url }}" alt="" style="
            max-height: 100vh;
            max-width: 100%;
            height:100vh;
            width: 100%;
            display: block;
          " />
                <div class="container">
                    <div class="carousel-caption text-center mb-5">
                        <div style="margin-bottom:10rem;">
                          <h5>{{ caro.title }}</h5>
                        <p class="mb-5 fs-1 fw-bold text-center">
                            {% trans "WELCOME TO TANTORIAL" %} </p>  

                        <a href="{% url 'account_signup' %}" class='btn btn-primary mt-3 mb-3 text-center' style="border-radius:20px; width:80%">Register Now</a>  
                        </div>
                        

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock carousel %} {% block content %}
<form action="{% url 'dantorial:search' %}" class="h-500 p-sm-5 mx-auto text-dark bg-dark rounded-5 mt-auto">
    <div class="row align-items-md-stretch mx-0 p-3">
        <div class="col-sm-3 col-lg-2 col-12">
            <div class="input-group mb-3">
                <select name='typ' class="form-select" id="inputGroupSelect02">
                    <!-- <option selected>Who are you?</option> -->
                    <option value="tutor" selected>Teacher</option>
                    <option value="student">Student</option>
                </select>
            </div>
        </div>
        <div class="col-sm-5 col-lg-2">
            <div class="input-group mb-3">
                <select name='category' class="form-select select-picker" id="inputGroupSelect02" data-live-search="true" data-placeholder="Select an option" data-allow-clear="true">
                    {% for cat in all_cat %}
                    <option value="{{cat.id}}">{{ cat.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12 col-lg-3 padding-minimum">
                <select name="subject" id="select2-multiple-input" class=" select2 form-control select2-container input-lg step2-select">
                    {% for sub in all_sub %}
                    <option value="{{sub.id}}">{{ sub.name }}</option>
                    {% endfor %}
                </select>
            
        </div>
        <div class="col-sm-3 col-lg-2 ">
            <div class="input-group mb-3">
                <select name='region' class="form-select select-picker" id="inputGroupSelect02" data-live-search="true">
                    <option>Select Region</option>
                    {% for reg in region %}
                    <option value="{{reg.id}}">{{ reg.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-sm-5 col-lg-2">
            <div class="input-group mb-3">
                <input name='quater' type="text" class="form-control" placeholder="Quater" aria-label="Quater" aria-describedby="basic-addon1" />
            </div>
        </div>

        <div class="col-sm-4 col-lg-1 d-block">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>
<div class="container-fluid">
    <!-- <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div> -->
    <div class="row mb-5">
        <div class="col-lg-12">
            <h3 class="text-center mb-3 fw-dark fs-3">Browse By Category</h3>
            <div class="row">
                {% for cat in all_cat_ind %}
                <div class="col-sm-6 col-lg-3 mt-2">
                    <div class="card" style="width: 100%">
                        <img src="{{cat.image.url}}" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <a href="{% url 'dantorial:category' cat.slug %}" class="card-link">
                                <h3 class="card-title text-center mb-3 fw-dark fs-3"> {{cat.name}} </h3>
                            </a>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="d-grid gap-2 col-sm-6 col-lg-3 mx-auto mt-2">
                <a href="{% url 'dantorial:allcategory' %}" class="btn btn-primary" type="button">See All Category</a>
            </div>
            <div class="row mb-4 mt-3">
                <div class="d-lg-flex flex-md-equal w-100 my-md-3 ps-md-3 mb-3">
                    <div class="col-lg-6 col-md-12 col-sm-12 bg-success me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden mb-3">
                        <div class="my-3 py-3">
                            <h2 class="display-5 text-center">Join Today as a TUTOR</h2>
                            <!-- <p class="lead mb-auto fw-dark fs-3">Study profile and get in touch with the best for your children</p> -->
                        </div>
                        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: auto; border-radius: 21px 21px 0 0;">
                            <ul class="list-group mb-auto">
                                
                                <li class="list-group-item border-bottom-0 text-center fw-dark fs-5">
                                    <i class='fa fa-check'></i>Create your profile
                                </li>
                                <li class="list-group-item border-bottom-0 text-center fw-dark fs-5">
                                    <i class='fa fa-check'></i>Update profefssional info
                                </li>
                                <li class="list-group-item border-bottom-0 text-center fw-dark fs-5">
                                    <i class='fa fa-check'></i>Set price and contact nearby learner
                                </li>
                                <li class="list-group-item border-bottom-0 text-center fw-dark fs-5">
                                    <i class='fa fa-check'></i>Start now
                                </li>
                              </ul>
                            <a href="{% url 'account_signup' %}" class='btn btn-primary mt-3 mb-3' style="border-radius:20px; width:80%">Register Now</a> 
                        </div>
                        
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden mb-3">
                        <div class="my-3 py-3">
                            <h2 class="display-5 text-center">Join Today as a STUDENT</h2>
                            <!-- <p class="lead mb-auto fw-dark fs-3">Find students in need of your help around you</p> -->
                        </div>
                        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: auto; border-radius: 21px 21px 0 0;">
                            <ul class="list-group mb-auto">
                                <li class="list-group-item border-bottom-0 text-center fw-dark fs-5">
                                    <i class='fa fa-check'></i>
                                    Search for tutors
                                </li>
                                <li class="list-group-item border-bottom-0 text-center fw-dark fs-5">
                                    <i class='fa fa-check'></i>Communicate with any tutors for free
                                </li>
                                <li class="list-group-item border-bottom-0 text-center fw-dark fs-5">
                                    <i class='fa fa-check'></i>Meet tutor and start learning
                                </li>
                                <li class="list-group-item border-bottom-0 text-center fw-dark fs-5">
                                    <i class='fa fa-check'></i>Start now
                                </li>
                              </ul>
                            <a href="{% url 'account_signup' %}" class='btn btn-primary mt-3 mb-3' style="border-radius:20px; width:80%">Register Now</a>  
                        </div>
                    
                    </div>
                    
                </div>
            </div>

            <div class="mb-5">
                <h3 class="text-center mb-3 fw-dark fs-3">Browse By SubCategory</h3>
                <div class="row">
                    {% for subcat in all_subcat_ind %}
                    <div class="col-sm-6 col-lg-3 mt-2">
                        <div class="card" style="width: 100%">
                            <img src="{{subcat.image.url}}" class="card-img-top rounded" alt="..." />
                            <div class="card-body">
                                <h3 class="card-title text-center mb-3 fw-dark fs-3">
                                    <a href="{% url 'dantorial:subcategory' subcat.category.slug subcat.id %}" class="card-link">
                                  {{subcat.name}} 
                                </a>
                                </h3>
                                <p class='text-mute text-center fw-light'>
                                    {{subcat.category.name}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="d-grid gap-2 col-sm-6 col-lg-4 mx-auto mt-2">
                    <a href="{% url 'dantorial:allsubcategory' %}" class="btn btn-primary">See All SubCategory</a>
                </div>
            </div>
            <div class="mb-3">
                <h3 class="text-center">Browse By Subject</h3>
                <div class="row">
                    {% for sub in all_sub_ind %}
                    <div class="col-sm-6 col-lg-3 mt-2">
                        <div class="card" style="width: 100%">
                            <img src="{{ sub.image.url }}" class="card-img-top rounded" alt="..." />
                            <div class="card-body">
                                <a href="{% url 'dantorial:subject' sub.subcategory.category.slug sub.subcategory.id sub.slug %}" class="card-link">
                                    <h3 class="card-title text-center mb-3 fw-dark fs-4"> {{sub.name}} </h3>
                                </a>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="d-grid gap-2 col-sm-6 col-lg-4 mx-auto mt-2">
                    <a href="{% url 'dantorial:allsubject' %}" class="btn btn-primary">See All Subject</a>
                </div>
            </div>
            <div class="row align-items-md-stretch mb-auto">
                <h5 class="text-center mb-3 fw-dark fs-3">How to use Tantorial</h5>
                {% for caro in how %}
                <div class="col-lg-4 col-md-4 col-sm-4 me-0 ml-0 mb-2 p-2">
                    <div class="card y-0 mr-auto ml-auto me-0" style="width: 100%">
                        <img src="{{caro.image.url}}" class="card-img-top rounded-circle mr-auto ml-auto" alt="..." style="width: 150px" />
                        <div class="card-body">
                            <h3 class="card-text text-center mb-3 fw-dark fs-5">{{caro.how_text}}</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}