{% extends "base.html" %}
{% load i18n %}
{% load mathfilters %}
{% load static %} {% block title %} tantorial {%endblock title %} 

{% block carousel %}

<div id="myCarousel" class="carousel slide mt-5" data-bs-ride="carousel" >
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="bd-placeholder-img" src="static/bgimg.jpg" alt="" style="
            max-height: 100vh;
            max-width: 100%;
            height:100vh;
            width: 100%;
            display: block;
            opacity: 0.7;
            " />
            
                <div class="carousel-caption text-center mb-5 d-block">
                    <div style="margin-bottom:10em;">
                        <h1 class="fs-sm-3 fs-md-2 fw-bold" >
                        <p class="typewrite mb-2 fw-bold text-center mt-5 bg-dark" data-period="2000" data-type='[ "Welcome to Tantorial", "Find your Perfect Tutor", "Get Connected to Students"]' style="
                                background: -webkit-linear-gradient(#003, #3a3);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;">
                            <span class="wrap"></span>
                        </p>
                        </h1>
                            <p class="mb-5 fs-2 fw-bold text-center text-black" style="font-size: 72px;">
                                Book one-on-one lessons with verified tutors close to you
                            </p>
                        <div class="row justify-content-center">
                            <div class="col col-sm-12 col-md-8">
                                <form action="{% url 'dantorial:allsearch' %}">
                                    <div class="input-group mt-5">
                                        <input class="form-control form-control-lg form-control-borderless" type="text" placeholder="What do you want  to learn" aria-label="Enter search term..." aria-describedby="button-search" name='keywords' / style="border-radius:40px;">
                                        <button class="btn btn-primary" id="button-search" type="submit" style="border-radius:40px;">
                                        <i class='fa fa-search'></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                        <!-- endform -->
                        
                    </div>
                    <!-- form -->
                    
                </div>

        </div>
    </div>
</div>


{% endblock carousel %} {% block content %}
<form action="{% url 'dantorial:search' %}" class="mx-auto text-dark bg-dark rounded-5 mt-auto">
    <div class="row align-items-md-stretch mx-0 p-3">
        <div class="col-sm-3 col-lg-2 col-12">
            <div class="input-group mb-3">
                <select name='typ' class="form-select" id="inputGroupSelect02">
                    <option disabled>Who are you looking for?</option>
                    <option value="tutor" selected>Teacher</option>
                    <option value="student">Student</option>
                </select>
            </div>
        </div>
        <div class="col-sm-5 col-lg-2">
            <div class="input-group mb-3">
                <select name='category' class="form-select select-picker" id="inputGroupSelect02" data-live-search="true" data-placeholder="Select an option" data-allow-clear="true">
                    {% for cat in all_cat %}
                    <option value="{{cat.id}}">{{ cat.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12 col-lg-3 padding-minimum">
            
            <select name="subject" id="select2-multiple-input" class="select2 form-control select2-container input-lg step2-select">
                    {% for sub in all_sub %}

                    <option value="{{sub.id}}">{{ sub.name }}</option>
                    {% endfor %}
                </select>    
            
                
            
        </div>
        <div class="col-sm-3 col-lg-2 ">
            <div class="input-group mb-3">
                <select name='region' class="form-select select-picker" id="inputGroupSelect02" data-live-search="true">
                    <option disabled>Select Region</option>
                    {% for reg in region %}
                    <option value="{{reg.id}}">{{ reg.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-sm-5 col-lg-2">
            <div class="input-group mb-sm-3">
                <select name='quater' class="town form-control select2-container input-lg step2-select">
                    {% for quat in quater %}
                    <option value="{{quat.id}}">{{ quat.name }} {{quat.town}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="col-sm-3 col-lg-1 d-block">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>
<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-lg-12">
            <h3 class="text-center mb-3 fw-dark fs-3">Browse By Category</h3>
            <div class="row">
                {% for cat in all_cat_ind %}
                <div class="col-sm-6 col-lg-3 mt-2">
                    <div class="card" style="width: 100%">
                        <img src="{{cat.image.url}}" class="card-img-top" alt="..." / style="height: 200px;">
                        <div class="card-body">
                            <a href="{% url 'dantorial:category' cat.slug %}" class="card-link">
                                <h3 class="card-title text-center mb-3 fw-dark fs-3"> {{cat.name}} </h3>
                            </a>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="d-grid gap-2 col-sm-6 col-lg-3 mx-auto mt-2">
                <a href="{% url 'dantorial:allcategory' %}" class="btn btn-primary">See All Category</a>
            </div>
            <div class="row mb-4 mt-3">
                <div class="d-lg-flex flex-md-equal w-100 my-md-3 ps-md-3 mb-3">
                    <div class="col-lg-6 col-md-12 col-sm-12 bg-success me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden mb-3">
                        <div class="my-3 py-3">
                            <h2 class="display-5 text-center">Join Today as a TUTOR</h2>
                            <!-- <p class="lead mb-auto fw-dark fs-3">Study profile and get in touch with the best for your children</p> -->
                        </div>
                        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: auto; border-radius: 21px 21px 0 0;">
                            <ul class="list-group mb-auto">
                                
                                <li class="list-group-item border-bottom-0 text-center fw-dark fs-5">
                                    <i class='fa fa-check'></i>Create your profile
                                </li>
                                <li class="list-group-item border-bottom-0 text-center fw-dark fs-5">
                                    <i class='fa fa-check'></i>Update professional details
                                </li>
                                <li class="list-group-item border-bottom-0 text-center fw-dark fs-5">
                                    <i class='fa fa-check'></i>
                                    Add subjects and prices
                                </li>
                                <li class="list-group-item border-bottom-0 text-center fw-dark fs-5">
                                    <i class='fa fa-check'></i>Start now
                                </li>
                              </ul>
                            <a href="{% url 'account_signup' %}" class='btn btn-primary mt-3 mb-3' style="border-radius:20px; width:80%">Register Now</a> 
                        </div>
                        
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden mb-3">
                        <div class="my-3 py-3">
                            <h2 class="display-5 text-center">Join Today as a STUDENT</h2>
                            <!-- <p class="lead mb-auto fw-dark fs-3">Find students in need of your help around you</p> -->
                        </div>
                        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: auto; border-radius: 21px 21px 0 0;">
                            <ul class="list-group mb-auto">
                                <li class="list-group-item border-bottom-0 text-center fw-dark fs-5">
                                    <i class='fa fa-check'></i>
                                    Search for tutors
                                </li>
                                <li class="list-group-item border-bottom-0 text-center fw-dark fs-5">
                                    <i class='fa fa-check'></i>
                                    Create learning Profile
                                </li>
                                <li class="list-group-item border-bottom-0 text-center fw-dark fs-5">
                                    <i class='fa fa-check'></i>Meet tutor and start learning
                                </li>
                                <li class="list-group-item border-bottom-0 text-center fw-dark fs-5">
                                    <i class='fa fa-check'></i>Start now
                                </li>
                              </ul>
                            <a href="{% url 'account_signup' %}" class='btn btn-primary mt-3 mb-3' style="border-radius:20px; width:80%">Register Now</a>  
                        </div>
                    
                    </div>
                    
                </div>
            </div>
            <div class="mb-5">
                <h3 class="text-center mb-3 fw-dark fs-3">Browse By SubCategory</h3>
                <div class="row">
                    {% for subcat in all_subcat_ind %}
                    <div class="col-sm-6 col-lg-3 mt-2">
                        <div class="card" style="width: 100%">
                            <img src="{{subcat.image.url}}" class="card-img-top rounded" alt="..." style="height: 200px;"/>
                            <div class="card-body">
                                <h3 class="card-title text-center mb-3 fw-dark fs-3">
                                    <a href="{% url 'dantorial:subcategory' subcat.category.slug subcat.id %}" class="card-link">
                                  {{subcat.name}} 
                                </a>
                                </h3>
                                <p class='text-mute text-center fw-light'>
                                    {{subcat.category.name}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="d-grid gap-2 col-sm-6 col-lg-4 mx-auto mt-2">
                    <a href="{% url 'dantorial:allsubcategory' %}" class="btn btn-primary">See All SubCategory</a>
                </div>
            </div>
            <div class="mb-3">
                <h3 class="text-center">Browse By Subject</h3>
                <div class="row">
                    {% for sub in all_sub_ind %}
                    <div class="col-sm-6 col-lg-3 mt-2">
                        <div class="card" style="width: 100%">
                            <img src="{{ sub.image.url }}" class="card-img-top rounded" alt="..." style="height: 200px;"/>
                            <div class="card-body">
                                <a href="{% url 'dantorial:subject' sub.subcategory.category.slug sub.subcategory.id sub.slug %}" class="card-link">
                                    <h3 class="card-title text-center mb-3 fw-dark fs-4"> {{sub.name}} </h3>
                                </a>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="d-grid gap-2 col-sm-6 col-lg-4 mx-auto mt-2">
                    <a href="{% url 'dantorial:allsubject' %}" class="btn btn-primary">See All Subject</a>
                </div>
            </div>
            <div class="row align-items-md-stretch mb-auto">
                <h5 class="text-center mb-3 fw-dark fs-3">How to use Tantorial</h5>
                {% for caro in how %}
                <div class="col-lg-3 col-md-3 col-sm-6 me-0 ml-0 mb-2 p-2">
                    <div class="card y-0 mr-auto ml-auto me-0 border-0" style="width: 100%">
                        <img src="{{caro.image.url}}" class="card-img-top rounded-circle mr-auto ml-auto" alt="..." style="width: 150px; height:150px; " />
                        <div class="card-body">
                            <p class="card-text text-center fw-bold fs-5">{{caro.how_text}}</p>
                        </div>
                        <div class="card-text">
                            <p class="card-text text-center fw-dark text-mute">{{caro.how_description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
</script>

{% endblock content %}