{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}
login
{% endblock title %}
{% block content %}
<!-- <form method="post" style="margin-top: 100px;" class="needs-validation" method="post" action="" novalidate> 
    {% csrf_token %} 
    {{ form|crispy }} 
    <input type="submit" value="Login"> 
</form>
<a href="{% provider_login_url 'google' %}">Login With Google</a>
<a href="{% provider_login_url 'facebook' method='oauth2' %}">Facebook Connect</a> -->

<body>
  <div class="container">
    <div class="row mt-5">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-2 p-sm-4">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Login to Dantorial</h5>
            <form class="needs-validation" method="post" action="" novalidate>
                {% csrf_token %} 
              <div class="form-floating mb-3">
                <!-- <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"> -->
                {{form.username}}
                <label for="floatingInput">Username</label>
              </div>
              <div class="form-floating mb-3">
                {{form.password}}
                <label for="floatingPassword">Password</label>
              </div>

              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                <label class="form-check-label" for="rememberPasswordCheck">
                  Remember Me
                </label>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
                  in</button>
              </div>
              <div>
                  <a href="{% url 'dantorial:register' %}">Don't Have an Account?</a>
              </div>
                <div>
                  <a href="{% url 'dantorial:register' %}">Forgot Password?</a>
              </div>
              <hr class="my-4">
              <p class='text-center display-6'>OR</p>
              <div class="d-grid mb-2">
                <button  href="{% provider_login_url 'google' %}" class="btn btn-google btn-login text-uppercase fw-bold" type="submit">
                  <i class="fab fa-google me-2"></i> Sign in with Google
                </button>
              </div>
              <div class="d-grid">
                <button href="{% provider_login_url 'facebook' method='oauth2' %}" class="btn btn-facebook btn-login text-uppercase fw-bold" type="submit">
                  <i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


{% endblock content %}