{% extends "base.html" %}
{% load static %}
{% block title %} message {%endblock title %}
	{% block content %}
		<div class="col-md-6 col-sm-10 ml-auto mr-auto mt-5">
			<div class="card mb-3">
				<div class="card-body">
					{% for m in message %}
						<div class="row">
							{% if m.sender_user == request.user %}
								<div class="col-sm-12 text-right">
									<!-- 									<a href="{% url 'dantorial:userprofile' m.receiver_user.profilepersonal.id %}" style="text-decoration:none">
											{{m.sender_user.profilepersonal.first_name}} {{m.sender_user.profilepersonal.last_name}}
									</a> -->
									<!-- <img src="{{m.receiver_user.profilepersonal.profile_pic.url}}" class="rounded-circle" alt="..." style="width:50px"/> -->
									<div class="justify-content-end">
										<div class="alert alert-success text-justify" style="width: 90%; border-radius: 20px; 		margin-top: auto;
											margin-left: 4rem;">
											{{m.message}}
											<p class="text-right">
												{{m.date_created|timesince}}
											</p>
											
										</div>
									</div>
									
									
									
								</div>
								
							</div>
						{% else %}
							<div class="col-sm-8">
								<img src="{{m.sender_user.profilepersonal.profile_pic.url}}" class="rounded-circle" alt="..." style="width:50px"/>
								
								<a href="{% url 'dantorial:userprofile' m.sender_user.profilepersonal.id %}" style="text-decoration:none">
									{{m.sender_user.profilepersonal.first_name}} {{m.sender_user.profilepersonal.last_name}}
								</a>
								<div class="alert alert-warning" style="width: 90%; border-radius: 20px;">
									{{m.message}}
									<p class="text-right">
										{{m.date_created|timesince}}
									</p>
									
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>

				<div class="card-footer">
					

					<form method="POST" class='needs-validation' id='send_message' action="{% url 'dantorial_message:send' chat  %}" novalidate>
						{% csrf_token %}

						<div class="input-group">
							<!-- <div class="input-group-append">
									<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
							</div> -->
							<textarea name="message" class="form-control type_msg" id = 'msg' placeholder="Type your message..."></textarea>
							<div class="input-group-append">
								
								<span class="input-group-text send_btn">
									<button type="submit" class="btn btn-success">
									<i class="fas fa-location-arrow"></i>
								</button></span>
								
							</div>
						</div>
					</div>
				</form>
				
			</div>
	{% endblock %}