{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
login
{% endblock title %}
{% block content %}
<div class="container-fluid p-4">
    <div class="row mt-5">
        <div class="col-sm-4 col-md-6 col-lg-3 mx-auto">
            <div class="card border-0 shadow rounded-3 my-0">
                <div class="card-body p-0 p-sm-0">
                    <div class="list-group mx-auto">
                        <a href="{% url 'account_change_password' %}" class="list-group-item list-group-item-action">
                            Change Password
                        </a>
                        <a href="{% url 'account_email' %}" class="list-group-item list-group-item-action">Edit Email
                            Address</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-12 col-lg-7 mx-auto">
            <div class="card border-0 shadow rounded-3 my-lg-0">
                <div class="card-body p-2 p-sm-5">Account Detail</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Email: </strong> <em>{{ prof.user.email}}</em> </li>
                        <li class="list-group-item"><strong>Email is verified :</strong> <em>{{ auth.verified}}</em>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
<script src="/static/smart-selects/admin/js/bindfields.js"></script> -->



{% endblock content %}