{% extends "base.html" %} {% load static %} {% load humanize %} {% block title %} notification {%endblock title %} {% block content %}
<div class="col-md-6 col-sm-12 ml-auto mr-auto">
  <div class="card mb-2 mx-md-5 mx-sm-auto" style="border: 0px solid red">
    <div class="card-body mx-md-4 mx-sm-0">
      <h5 class="card-title text-center mb-2 fw-bold fs-5">Lesson Details</h5>

      <div class="row mx-auto">
        {% if notification.teacher == request.user %}
        <p>
          Student:
          <a
            href="{% url 'dantorial:userprofile' notification.student.profilepersonal.id %}"
            class="card-link"
          >
            {{notification.student.profilepersonal.first_name}}
            {{notification.student.profilepersonal.last_name}}
          </a>
        </p>
        {% else %}
        <p>
          Teacher:
          <a
            href="{% url 'dantorial:userprofile' notification.teacher.profilepersonal.id %}"
            class="card-link"
          >
            {{notification.teacher.profilepersonal.first_name}}
            {{notification.teacher.profilepersonal.last_name}}
          </a>
        </p>

        {% endif %}
        <p>
          Start Date:
          <span class="font-weight-bold text-title"
            >{{notification.start}}</span
          >
        </p>
        <p>
          End Time:
          <span class="font-weight-bold text-title">{{notification.end}}</span>
        </p>
        <p>
          Mode:
          <span class="font-weight-bold text-title">{{notification.mode}}</span>
        </p>
        <p>
          Date:
          <span class="font-weight-bold text-title"
            >{{notification.date_created}}</span
          >
        </p>
        <p>
          Propose Fee:
          <span class="font-weight-bold text-title"
            >{{notification.amount|intcomma}} XAF</span
          >
        </p>
        <div>
          {% if notification.lessonescrow.complete %}
            <span class="font-weight-bold text-title"> Lesson Completed </span>
            {% else %} {% if notification.teacher == request.user %} {% if notification.is_confirm %}
            <button class="btn btn-success font-weight-bold mb-2">
              You Accepted this Lesson
            </button>
            <span>
              <form method="POST">
                {% csrf_token %}
                <button class="btn btn-outline-danger" name="post_decline">
                  Decline
                </button>
              </form>
            </span>

            {% elif notification.is_decline %}
            <button class="btn btn-danger font-weight-bold mb-2">
              You Rejected this Lesson
            </button>

            {% elif notification.is_cancel %}
            <button class="btn btn-warning font-weight-bold mb-2">
              This Request has been cancel
            </button>
            {% else %}

          <form method="POST">
            {% csrf_token %}
            <button class="btn btn-outline-success" name="post_accept">
              Accept
            </button>
            <button class="btn btn-outline-danger" name="post_decline">
              Decline
            </button>
          </form>
          {% endif %} {% else %} {% if notification.is_confirm %}
          <button class="btn btn-success font-weight-bold mb-2">
            Your request is Accepted
          </button>
          <span>
            <form method="POST">
              {% csrf_token %}
              <button class="btn btn-outline-danger" name="post_decline">
                Decline
              </button>
            </form>
          </span>
          <a href="" class="btn btn-success font-weight-bold mt-2">
            Proceed to Payment
          </a>

          {% elif notification.is_decline %}
          <button class="btn btn-danger font-weight-bold">
            You Request is Rejected
          </button>
          {% elif notification.is_cancel %}
          <button class="btn btn-warning font-weight-bold">
            You Cancel this Request
          </button>
          {% else %}
          <form method="POST">
            {% csrf_token %}
            <button class="btn btn-outline-warning" name="post_cancel">
              Cancel
            </button>
          </form>
          {% endif %} {% endif %}
          
          {% endif %}
          <br>
          <a href="{% url 'dantorial:allcategory' %}" class="btn btn-primary mt-3"
            >Find the best Tutor</a
          >
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
{% endblock %}
