{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}
terms
{% endblock title %}
{% block content %}

<div class="bg-white py-5">
    <div class="container py-5">
        <div class="order-2 order-lg-1">
            <h2 class="font-weight-light">Terms and conditions</h2>
            <p class="font-italic text-muted mb-4">
                {{privacy.terms|safe}}
                <!-- </p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
        </div>
    </div>
</div>

{% endblock %}