{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
login
{% endblock title %}
{% block content %}

<body>
  <div class="container-fluid p-0">
    <div class="row mt-5">
      <div class="col-sm-4 col-md-4 col-lg-3 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-0 p-sm-0">
            <div class="list-group mx-auto">
              <a href="{% url 'dantorial:profile-edit' user.profilepersonal.id %}" class="list-group-item list-group-item-action">
                Personal Information
              </a>
              <a href="{% url 'dantorial:profile-info-edit' user.profileinfo.id %}" class="list-group-item list-group-item-action">Profile Information</a>
              <a href="{% url 'dantorial:add-subject' %}" class="list-group-item list-group-item-action active">Add Subjects</a>
                                                                  {% if user.profilepersonal.account_type == 'tutor' %}
                            <a href="{% url 'dantorial:add-experience'%}"
                                class="list-group-item list-group-item-action">Add Experience</a>
                            <a href="{% url 'dantorial:add-qualification'%}"
                                class="list-group-item list-group-item-action">Add Qualification</a>
                            {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-7 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-2 p-sm-5">
            <h5 class="card-title text-center mb-3 fw-light fs-5">Add Subject</h5>
            <form class="needs-validation" method="post" action="" novalidate>
              {% csrf_token %}
              {{form.media.js}}
    
              {% if user.profilepersonal.account_type == 'tutor'%}
                {{form|crispy}}
                {% else %}
                <div class="form-group">
                {{form.category}}

                </div>
                <div>
                  {{form.subcategory}}
                </div>
                <div>
                 {{form.subject}} 
                </div>
                <div>
                  {{form.level}}
                </div>
                
              {% endif %}
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold mt-3" type="submit">submit</button>
              </div>
              <hr class="my-4">
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
<script src="/static/smart-selects/admin/js/bindfields.js"></script> -->
</body>


{% endblock content %}