{% extends "base.html" %} {% load crispy_forms_tags %} {% block title %} upgrade {% endblock title %} {% block content %}
<div class="container-fluid p-0">
<div class="row mt-5">
    <div class="col-sm-8 col-md-4 col-lg-4 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-2 p-sm-5">
                <h5 class="card-title text-center mb-3 fw-light fs-5">Upgrade Account</h5>
                <h5 class="card-title mb-3 fw-dark fs-5">Amount: FCFA 2000</h5>
                <form class="needs-validation" method="post" action="" novalidate>
                    {% csrf_token %} {{form.media.js}}
                    {{form.payment_method|as_crispy_field}}
                    {{form.phone_number|as_crispy_field}}   
                    <div class="d-grid">
                        <button class="btn btn-primary btn-login text-uppercase fw-bold mt-3" id='btnSubmit' type="submit">Complete Payment</button>
                    </div>
                    <hr class="my-4">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> -->
</div>
<!-- <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
<script src="/static/smart-selects/admin/js/bindfields.js"></script> -->
<script>
if (window.history.replaceState) {
window.history.replaceState(null, null, window.location.href);
}
$(document).ready(function() {
$("#btnSubmit").click(function() {
// disable button
$(this).prop("disabled", false);
// add spinner to button
$(this).html(
`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...`
);
console.log(document.getElementsByTagName('forms'))
});
});
</script>
{% endblock %}