{% extends "base.html" %} {% load crispy_forms_tags %} {% block title %} userprofile {% endblock title %} {% block content %}
<style>
.rating {
float: left;
height: 46px;
padding: 0 10px;
}
.rating:not(:checked)>input {
/*    position:absolute;
top:-9999px;*/
position: absolute;
left: -9999px;
}
.rating:not(:checked)>label {
float: right;
width: 1em;
overflow: hidden;
white-space: nowrap;
cursor: pointer;
font-size: 30px;
color: #ccc;
}
.rating:not(:checked)>label:before {
content: '★ ';
}
.rating>input:checked~label {
color: #ffc700;
}
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
color: #deb217;
}
.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
color: #c59b08;
}
</style>
<div class="container">
<div class="main-body">
    <!-- Breadcrumb -->
    <!-- /Breadcrumb -->
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3 mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <a href="{{userprofile.profile_pic.url}}">
                            <img src="{{userprofile.profile_pic.url}}" alt="{{userprofile.first_name}}" class="rounded-circle" width="200">
                        </a>
                        <button class="border-0 m-0 p-0 likebtn" type="button" id="{{userprofile.id}}" data-url="{% url 'dantorial:favourite' %}" style="  position: absolute;
                        background: transparent;
                        top: 100;
                        right:  1.5rem;
                        font-size:200%;
                        color:blue">
                        <i class="fa fa-heart-o mr-0 ml-0"></i>
                        </button>
                        <div class="mt-3">

                            <h4>{{userprofile.first_name|capfirst}} {{userprofile.last_name|capfirst}}
                            <span>
                                {% if userprofile.user.verification.is_verified %}
                                    <i class='fas fa-check' style="color:blue;"></i>
                                {% endif %}
                            </span>
                            </h4>
                            <p class="text-secondary mb-1">{{userprofile.account_type|capfirst}}
                            ({{ comments.count }} Reviews) 
                            <br>{{ur|default:""}} Stars </p>
                            <p class="text-muted font-size-md">{{userprofile.region}}</p>
                            <p class="fw-bold">{{userprofile.user.profileinfo.subject|default:""}}
                                <span class="fw-light">
                                    {{userprofile.user.profileinfo.amount|default:""}}FCFA/{{userprofile.user.profileinfo.charge|default:"month"}}
                                </span>
                            </p>
                            
                            <!--               <button class="btn btn-primary">Contact</button>
                            <button class="btn btn-outline-primary">Message</button>
                            <button class="btn btn-outline-primary">Whatsapp</button> -->
                            <button data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-primary mt-2"><i class="fa fa-phone" style='color:rgb(5, 59, 41)'></i> Call
                            </button>
                            <a href="https://wa.me/{{userprofiles.phonenumber}}" target="_blank" class="btn btn-outline-primary mt-2">
                                <i class="fa fa-whatsapp" style='color:rgb(5, 59, 41)'></i> Whatsapp
                            </a>
                            <button href="#" class="btn btn-outline-primary mt-2" data-toggle="modal" data-target="#messageModal"><i class="fa fa-envelope-o" style='color:rgb(5, 59, 41)'></i> Message</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="card mt-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                <span class="text-secondary">{{userprofile.user.socialmedia.website}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
            <span class="text-secondary">{{userprofile.user.socialmedia.github}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
        <span class="text-secondary">@{{userprofile.user.socialmedia.twitter}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
    <span class="text-secondary">{{userprofile.user.socialmedia.instagram}}</span>
</li>
<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
<h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
<span class="text-secondary">{{userprofile.user.socialmedia.facebook}}</span>
</li>
</ul>
</div> -->
</div>
<div class="col-md-8 mt-5">
<div class="card mb-3">
<div class="card-body">
<div class="row">
<div class="col-sm-4">
    <h6 class="mb-0">Level of Education</h6>
</div>
<div class="col-sm-8 text-secondary">
    {{userprofile.level_of_education}}
</div>
</div>
<hr>
<div class="row">
<div class="col-sm-4">
    <h6 class="mb-0">Age</h6>
</div>
<div class="col-sm-8 text-secondary">
    {{userprofile.date_of_birth|timesince}}
</div>
</div>
<hr>
<div class="row">
<div class="col-sm-4">
    <h6 class="mb-0">Address</h6>
</div>
<div class="col-sm-8 text-secondary">
    {{userprofile.address_1}}
</div>
</div>
<hr>
<div class="row">
<div class="col-sm-4">
    <h6 class="mb-0">Category</h6>
</div>
<div class="col-sm-8 text-secondary">
    {{ userprofile.user.profileinfo.category|default:"" }}
</div>
</div>
<hr>
<div class="row">
<div class="col-sm-4">
    <h6 class="mb-0">SubCategory</h6>
</div>
<div class="col-sm-8 text-secondary">
    {{ userprofile.user.profileinfo.subcategory|default:"" }}
</div>
</div>
<hr>
</div>
</div>
<hr>
<div class="card mb-2">
<div class="text-center fw-bold pt-0 pt-xl-5 pb-0 pb-xl-3 fs-4">Other Subjects</div>
<div class="card-body" >
<div class="accordion" id='accordionExample'>
{% for subject in userprofile.user.subject_set.all %}
    <div class="row">
        <div class="col-sm-12">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
                {{subject.subject}}
                </button>
                </h2>
            </div>
            <div class="col-sm-12 text-secondary">
                <div id="collapseOne{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-group list-group-flush">
                            <p class="d-flex fw-dark">Category: {{subject.category}}</p>
                            <p class="d-flex fw-dark">Subcategory: {{subject.subcategory}}</p>
                            <p class="d-flex fw-dark">Subject: {{subject.subject}}</p>
                            <p class="d-flex fw-dark">Charge: Per {{subject.charge}}</p>
                            <p class="d-flex fw-dark">Amount: {{subject.amount}} FCFA</p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endfor %}
</div>
</div>
<!-- # -->
<!-- dd -->
<!-- <div class="row mt-5 container">
<div class="alert  alert-info" role="alert">
dddd
</div>
<div class="col-md-7">
<img src=" {{userprofile.profile_pic.url}} " alt="" style=" object-fit: contain;" class="rounded-circle" />
<div class='row mt-3'>
    <h3 class='text-center'>Subjects</h3>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Subject</th>
                <!-- <th>Level</th> -->
                <!-- <th>Fee</th> -->
                <!-- <th>Action</th> -->
            <!-- </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ userprofile.user.profileinfo.category|default:"" }}</td>
                <td> {{ userprofile.user.profileinfo.subject|default:"" }}</td>
                <!-- <td> {{ userprofile.user.profileinfo.level }} </td> -->
                <!--       <td> {{ userprofile.user.profileinfo.amount|default:"" }}FCFA</td>
            </tr>
            {% for subject in userprofile.user.subject_set.all %}
                <tr>
                    <td> {{ subject.category}}</td>
                    <td> {{ subject.subject }}</td>  -->
                    <!-- <td> {{ subject.level }} </td> -->
                    <!-- <td> {{ subject.amount|default:"***" }}FCFA</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
<div class="col-md-5">
<div class="card" style="width: 100%">
<h3 class="text-center">Personal Information</h4>
<hr>
<div class="card-body">
    <h2 class="card-subtitle">{{userprofile.first_name}} {{userprofile.last_name}}
    <span>
        {% if userprofile.user.verification.is_verified %}
            <i class='fas fa-check' style="color:blue;"></i>
        {% endif %}
    </span>
    </h2>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Account: </strong> <em>{{ userprofile.account_type|capfirst}}</em>
    </li>
    <li class="list-group-item"><strong>Age:</strong> <em>{{userprofile.date_of_birth|timesince}}</em> </li>
    <li class="list-group-item"><strong>Gender:</strong> <em>{{userprofile.gender|capfirst}}</em> </li>
    <li class="list-group-item"><strong>Location:</strong> {{userprofile.region}}</li>
    <li class="list-group-item"><strong>Language:</strong> {{userprofile.user.profileinfo.language}}</li>
    <li class="list-group-item"><strong>Level of Education:</strong> {{userprofile.level_of_education}} </li>
    <li class="list-group-item"><strong>Address: </strong> {{userprofile.address_1|capfirst}}, {{userprofile.address_2|capfirst}}
    </li> -->
    <!--                 <li class="list-group-item"><strong>Email:</strong> {{userprofile.user.email}} </li> -->
    <!--         <li class="list-group-item">
        <div>
            <span>
                <a data-toggle="modal" data-target="#exampleModal" class="btn btn-success card-link mt-2"><i class="fa fa-lg fa-phone" style='color:rgb(5, 59, 41)'>Call</i>
                </a>
            </span>
            
            <span>
                <a href="https://wa.me/{{userprofiles.phonenumber}}" target="_blank" class="btn btn-success card-link mt-2">
                    <i class="fa  fa-lg fa-whatsapp" style='color:rgb(5, 59, 41)'>Whatsapp</i>
                </a>
            </span>
            <span>
                <a href="#" class="btn btn-primary card-link mt-2" data-toggle="modal" data-target="#messageModal"><i class="fa fa-lg fa-envelope-o" style='color:rgb(5, 59, 41)'>Message</i></a>
            </span>
        </div>
        
        
    </li>
</ul> -->
<!-- <div class="card-body">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Send a message</a>
</div> -->
<!-- </div>
</div> -->
<!-- modla -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact {{userprofile.title|capfirst}} {{userprofile.first_name|capfirst}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="fw-dark fs-5 text-center">
            <h3>
            {{'+'}}{{userprofile.country.phone}}{{userprofile.phone_number}}
            </h3>
            
        </div>
        <div>
            <div class="alert alert-danger" role="alert">
                Important: Don't send money remotely to anyone
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="tel:{{'+'}}{{userprofile.country.phone}}{{userprofile.phone_number}}" class="btn btn-success">
            Make a Call
        </a>
    </div>
</div>
</div>
</div>
<!-- end -->
</div>
<div class="row">
<div class="col-md-12 mb-auto">
<section id="components">
<h2 class="fw-light pt-2 pt-xl-5 pb-2 pb-xl-3">Professional Information</h2>
<article class="mb-0" id="accordion">
    <div>
        <div class="bd-example">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h4 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseexperience" aria-expanded="true" aria-controls="collapseThree">
                    <h4 class="fw-light">
                    Professional Experience
                    </h4>
                    </button>
                    </h4>
                    <div id="collapseexperience" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="card-body" >
                                <div class="accordion" id='accordionExample'>
                                    {% for experience in userprofile.user.experience_set.all %}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneEx{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
                                                    {{experience.work_post}}
                                                    </button>
                                                    </h2>
                                                </div>
                                                <div class="col-sm-12 text-secondary">
                                                    <div id="collapseOneEx{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <ul class="list-group list-group-flush">
                                                                <li class="list-group-item fw-dark">Position: {{experience.position}}</li>
                                                                <li class="list-group-item fw-dark">Start: {{experience.start_date}}</li>
                                                                <li class="list-group-item fw-dark">End: {{experience.end_date|default:'Still Working'}}</li>
                                                                <li class="list-group-item fw-dark">Current Job: {{experience.current_job}}</li>
                                                                <li class="list-group-item fw-dark">Description: <br>
                                                                {{experience.description}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h5 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsequalification" aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="fw-light">
                    Educational Qualification
                    </h5>
                    </button>
                    </h5>
                    <div id="collapsequalification" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="card-body" >
                                <div class="accordion" id='accordionExample'>
                                    {% for qualification in userprofile.user.qualification_set.all %}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneQu{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
                                                    {{qualification.certificate}}
                                                    </button>
                                                    </h2>
                                                </div>
                                                <div class="col-sm-12 text-secondary">
                                                    <div id="collapseOneQu{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <ul class="list-group list-group-flush">
                                                                <li class="list-group-item fw-dark">School: {{qualification.school}}</li>
                                                                <li class="list-group-item fw-dark">Start: {{qualification.start_year}}</li>
                                                                <li class="list-group-item fw-dark">End: {{qualification.end_year|default:'Still Studying'}}</li>
                                                                <li class="list-group-item fw-dark">Current School: {{qualification.still_studying}}</li>
                                                                <li class="list-group-item fw-dark">Certificate: <br>
                                                                {{qualification.certificate}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="True" aria-controls="collapseOne">
                    <h4 class="fw-light">
                    About {{userprofile.first_name|default:''}} {{userprofile.last_name|default:''}}
                    </h4>
                    </button>
                    </h4>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="fw-dark"> {{userprofile.user.profileinfo.bio|default:''|safe}}</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h4 class="fw-light">
                    Experience
                    </h4>
                    </button>
                    </h4>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong> {{ userprofile.user.profileinfo.experience|default:''|safe }} </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</article>
</section>
</div>
<div class="row mt-0">
<div class="mb-3 me-5">
<fieldset>
<legend>Leave a comment about {{user.profilepersonal.first_name}}</legend>
<div id="comments_section">
    <form method="POST" class='needs-validation' novalidate id='comment' action="">
        {% csrf_token %}
        <div class="form-group">
            {{ comment_form|crispy }}
        </div>
        <div class="rating">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
        </div>
        <button class="btn btn-info mt-2" type="submit" name='post_comment'>Add comment <i
        class="fas fa-comments"></i></button>
    </div>
</form>
</fieldset>
{% if comments %}
<strong class="text-secondary">{{ comments.count }}
Comment{{ comments.count|pluralize }}</strong>
<hr>
<ul class="list-group">
    {% for comment in comments %}
        <li class="list-group-item">
            <div>
                <span>
                    <strong class="text-info">
                    <a href="{% url 'dantorial:userprofile' comment.user.profilepersonal.id %}">
                        {{ comment.user.profilepersonal.first_name }}
                    </a>
                    </strong>
                    <small class="text-muted">{{ comment.date_created }}</small>
                </span>
                <p>
                    {{ comment.content|safe }} {% if comment.rating == '5' %}
                        <span>
                            <i class="fas fa-star" style='color: #c59b08;'></i>
                            <i class="fas fa-star" style='color: #c59b08;'></i>
                            <i class="fas fa-star" style='color: #c59b08;'></i>
                            <i class="fas fa-star" style='color: #c59b08;'></i>
                            <i class="fas fa-star" style='color: #c59b08;'></i>
                            
                        </span> {% elif comment.rating == '4' %}
                        <span>
                            <i class="fas fa-star" style='color: #c59b08;'></i>
                            <i class="fas fa-star" style='color: #c59b08;'></i>
                            <i class="fas fa-star" style='color: #c59b08;'></i>
                            <i class="fas fa-star" style='color: #c59b08;'></i>
                        </span> {% elif comment.rating == '3' %}
                        <span>
                            
                            <i class="fas fa-star" style='color: #c59b08;'></i>
                            <i class="fas fa-star" style='color: #c59b08;'></i>
                            <i class="fas fa-star" style='color: #c59b08;'></i>
                        </span> {% elif comment.rating == '2' %}
                        <span>
                            
                            <i class="fas fa-star" style='color: #c59b08;'></i>
                            <i class="fas fa-star" style='color: #c59b08;'></i>
                        </span> {% elif comment.rating == '1' %}
                        <span>
                            <i class="fas fa-star" style='color: #c59b08;'></i>
                        </span> {% endif %}
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
<strong class="text-secondary">No comments yet...</strong> {% endif %}
</div>
</div>
</div>
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Send a message to {{userprofile.first_name}} </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <fieldset>
        <form method="POST" class='needs-validation' novalidate>
            {% csrf_token %} {% if not user.is_authenticated %}
                <div class="form-group">
                    {{message.name|as_crispy_field}}
                </div>
                <div class="form-group">
                    {{message.email|as_crispy_field}}
                </div>
            {% endif %}
            <div class="form-group">
                {{message.phone_number|as_crispy_field}}
            </div>
            <div class="form-group">
                {{message.message|as_crispy_field}}
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success" name='send_message'>Send Message</button>
        </div>
    </div>
</form>
</fieldset>
</div>
</div>
</div>
</div>
<script>
if (window.history.replaceState) {
window.history.replaceState(null, null, window.location.href);
}
</script>
<!-- <script>
$(document).ready(function() {
$(document).on('submit', '#comment', function() {
// do your things
return false;
});
});
</script> -->
{% endblock content %} {% block extra_body %} {% endblock %}