{% extends "base.html" %} {% load crispy_forms_tags %} {% block title %} withdraw {% endblock title %} 

<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
</style>

{% block content %}
<div class="container">
<div class="row">
    <div class="col-sm-8 col-md-6 col-lg-6 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-2 p-sm-5">
                <h5 class="card-title text-center mb-0 fw-light fs-5">Withdraw Form</h5>
                <form class="needs-validation" method="post" action="" onsubmit="return validate();" novalidate>
                    {% csrf_token %} 
						<div class="form-group">
							<label for="payment_method">Payment Method</label>
							<select class="form-control" id="payment_method" name='payment_method'>
							<option value='orange money'>Orange Money</option>
							<option value='mobile money'>MTN Mobile Money</option>
							</select>
						</div>
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input type="number" name="amount" id="amount" class="form-control" placeholder="" aria-describedby="helpId">
                            <small id="helpId" class="text-muted">Enter Amount to be withdrawn</small>
                        </div>
						<div class="form-group">
							<label for="inlineFormInputGroup">Phone Number</label>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
								<div class="input-group-text">+237</div>
								</div>
								<input type="number" class="form-control" id="inlineFormInputGroup" name='phone_number' placeholder="Phone Number">
							</div>
						</div>

                    <div class="d-grid">
                        <button class="btn btn-primary btn-login text-uppercase fw-bold mt-3" id='btnSubmit' type="submit">Complete Payment</button>
                    </div>
                    <hr class="my-4">
                </div>

            </form>

        </div>
    </div>
</div>
</div>
</div>
<script>
if (window.history.replaceState) {
window.history.replaceState(null, null, window.location.href);
}
$(document).ready(function() {
$("#btnSubmit").click(function() {
// disable button
$(this).prop("disabled", false);
// add spinner to button
$(this).html(
`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...`
);
console.log(document.getElementsByTagName('forms'))
});
});
</script>
<script>function validate() {
 // check if input is bigger than 3
 var value = document.getElementById('phone').value;
 if (value.length != 12) {
alert('Please Enter a Valid phone number');
   return false; // keep form from submitting
   
 }
alert('Please confirm on your phone');
 return true;
}</script>
{% endblock %}