/* style inspired by */
/* https://www.figma.com/file/3zfPQpvvUxUCm6S7oljUHz/Chat-Ui-(Community)?node-id=101%3A3 */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    position: fixed;
    left: -199999px;
}

html {
    --main-color: #fff;
    --body-background: #D1E6FF;
    --main-font-color: #989BA1;
}

* {
    font-family: 'Questrial', sans-serif;
}


body {
    background: var(--body-background);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px auto;
    gap: 10px;
    max-width: 2000px;
    margin: auto;
    overflow: hidden;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #555758;
    background: #fff;
}

.header a {
    color: #555758;
    text-decoration: none;
}

.header h1 {
    font-style: normal;
    font-size: 1.3rem;
    color: #000;
    line-height: 34px;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
}


.header>nav {
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
}

.profile-image {
    width: 35px;
    height: 35px;
    border-radius: calc(35px / 2);
    object-fit: cover;
}

.header .new-room {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    gap: 5px;
    background: #1D75DD;
    border-radius: 5px;
    border: none;
    color: #fff;
}

.header-left-side {
    display: flex;
    gap: 10px;
}

.toggle-sidebar {
    width: max-content;
    font-size: 1.8rem;
    height: max-content;
    z-index: 1;
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: transparent;
    color: #010246;
}


.conversation-element.active {
    background: linear-gradient(90deg, #1D75DD 0%, #085EC4 100%);
}

.conversation-element.active * {
    color: #fff;
}

.header p {
    font-size: .9rem;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(136, 144, 160);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(30, 33, 34);
}

*[icon="clarity:notification-line"] {
    font-size: 1.5rem;
}