.main {
    display: grid;
    grid-template-columns: 350px auto 400px;
    gap: 20px;
    height: 100%;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 20px;
}

main>section:last-child {
    border-radius: 10px;
    background-color: var(--main-color);
}