<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="card" style="width: 18rem">
      <p>
        You have a new message on
        <button class="btn btn-primary">hELLOO</button> <br />
        View message here: {{ message_url }}
      </p>
    </div>
  </body>
</html>
