<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="card" style="width: 18rem">
      <p>
        You have a new message on
        <a href="{% url 'dantorial:index' %}">Tantorial</a> <br />
        View message
        <a href="{% url 'dantorial_message:chat' %}" class="btn btn-sucess"
          >here</a
        >
      </p>
    </div>
  </body>
</html>
